@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181818;
    color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #202020;
}

header {
    background: url('../imgs/fundo-header.jpg');
    padding: 10px 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.menu-navegacao ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu-navegacao li {
    margin: 0 15px;
}

.menu-navegacao a {
    color: yellow;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
}

.menu-navegacao a:hover {
    text-decoration: underline;
    color: rgb(21, 255, 0);
    font-size: 1.5em;
    transition: all 0.3s ease;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #303030;
}

.container_carousel {
    width: 100%;
    height: 100%;
    margin-top: 30px;

}

.video {
    position: relative;
    background-color: bisque;
    min-width: 320px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.video iframe {
    border-radius: 10px;
    box-shadow: #202020 0px 0px 10px;
}

.sections {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
}

.dados {
    background-color: #303030be;
    color: #202020;
    font-size: 0.9em; 
    text-align: justify;
    text-indent: 20px;
    border-radius: 8px;
    margin: 15px;
    padding: 20px;
}

.dados h2, h3 {
    font-size: 2.5;
    font-weight: bold;
    color: yellow;
    text-align: center;
    text-shadow: #202020 2px 2px 4px;

}




footer {
    background-color: #202020;
    color: #AAAAAA;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer nav {
    margin-bottom: 20px;
}

.menu-navegacao-footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.menu-navegacao-footer li {
    margin: 0 15px;
}

.menu-navegacao-footer a {
    color: #dbc7149d;
    text-decoration: none;
    font-size: 0.6em;
    font-weight: bold;
}

.menu-navegacao-footer a:hover {
    text-decoration: underline;
    color: white;
    transition: all 0.3s ease;
}

footer p {
    margin-top: 10px;
    font-size: 0.7em;
}